{% extends 'base.html.twig' %}

{% block body %}
<p>Amoureux des pizzas et de l'immobilier je joins ces deux passions pour en faire ce projet.Vous reprendrez bien une petite part?</p>
    <img src="{{ asset('images/stephane_pizza.jpg') }}" alt="Stephane Plazza dans une Pizza" height="600">
{% endblock %}

{% block title %}
A propos
{% endblock %}

